footer{
    background-image: url("../assets/media/wave2.svg"); 
    background-repeat: no-repeat;
}

.icon{
    color: map-get($colores, "blanco") !important;
}

.botonfooter{
    @include boton-blanco;
}


@media (max-width: 990px){
    .rounded-circle, .footerlinks{
        display: none;
    }
    .btn2{
        margin-bottom: 0;
    }
    .icons{
        margin: 0;
        flex-direction: row;
    }
    .footericons, .icons{
        flex-direction: row;
    }
}