footer{
    background-image: url("../assets/media/wave2.svg"); 
    background-repeat: no-repeat;
}

.icon{
    color: map-get($colores, "blanco") !important;
}

.btn2{
    font-weight: 500;
    color: map-get($colores, "blanco"); 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: map-get($colores, "blanco");
    border: 1px solid transparent;
    padding: 1rem 2.5rem;
    border-radius: 100rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (max-width: 990px){
    .rounded-circle, .footericons, .footerlinks{
        display: none;
    }
    .btn2{
        margin-bottom: 0;
    }
    .icons{
        margin: 0;
        flex-direction: row;
    }
}