// join the team form (= as get in touch - repeated code JIC)

.jointheteam {
  padding-top: 11rem;
  padding-bottom: 5.5rem;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
}

.jointheteam div div div .divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  background-color: map-get($map: $colores, $key: dark) !important;
  opacity: 1;
  color: map-get($map: $colores, $key: dark) !important;
}

.jointheteam div div div form div .submitbutton {
  font-weight: 500;
  color: #ffffff !important;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #5bd1ca !important;
  border: 1px solid transparent;
  padding: 1rem 2.5rem;
  border-radius: 100rem;
  border-color: transparent;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}




