.jointheteam{
    padding-top: 11rem;
    padding-bottom: calc(10rem - 4.5rem);
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    div{
        div{
            div{
                .divider{
                    @include divider-verde;
                }
            }
        }
        div{
            div{
                form{
                    // submit button
                    div{
                        .submitbutton{
                            @include submit-button;
                        }
                    }
                }
            }
        }
    }   
}