.ourwork{
    @extend .services;
}

@media (max-width: 991px){
    .ourworkcontainer{
      margin-bottom: 25rem !important;
    }
}

@media (min-width:329px) and (max-width:532px){
  .ourworkcontainer{
    margin-bottom: 28rem !important;
  }
}

@media (max-width:330px){
  .ourworkcontainer{
    margin-bottom: 38rem !important;
  }
}