.projects{
    padding-top: 11rem;
    padding-bottom: 0;
    background-attachment: scroll;
    background-size: cover;
    height: 50vh;
}

@media (max-width: 990px){
    .projects{
      margin-bottom: 25rem !important;
    }
}