section{
    .services{
        padding-top: 11rem;
        margin-bottom: 11rem !important;
        background-attachment: scroll;
        background-size: cover;
        height: 50vh;
        .divider{
            height: 0.2rem;
            max-width: 3.25rem;
            margin: 1.5rem auto;
            background-color: map-get($colores, "oscuro") !important;
            opacity: 1;
            color: map-get($colores, "claro");
        }
    }
}

.serviceicon{
    color: map-get($colores, "claro") !important;;
}

@media (max-width: 990px){
    .services{
      margin-bottom: 45rem !important;
    }
}