section{
    .services{
        padding-top: 11rem;
        margin-bottom: 11rem !important;
        background-attachment: scroll;
        background-size: cover;
        height: 50vh;
        .divider{
            @include divider-verde;
        }
    }
}

.serviceicon{
    color: map-get($colores, "claro") !important;;
}

@media (max-width: 990px){
    .services{
      margin-bottom: 65rem !important;
      padding-bottom: 11rem;
    }
}

@media (max-width: 990px){
    .services, .servicescontainer{
      margin-bottom: 24rem !important;
    }
}

@media (max-width: 767px){
    .services, .servicescontainer{
      margin-bottom: 44rem !important;
    }
}


