body{
  overflow-x: hidden
}

// masthead
.masthead{
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%), url("../assets/media/bgboot.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
  div{
      div{
          div{
              h1{
                  font-size: 2.25rem;
              }
              .divider{
                  @include divider-verde;
              }
          }
          div{
              #subtitle{
                  color: rgb(208, 208, 208) !important;
                  font-size: large;
              }
              .boton {
                @include boton-verde
              }
          }
       }
   }
}

#aboutus{
  padding-top: 4rem;
  margin-bottom: 4rem !important;
  background-attachment: scroll;
  background-size: cover;
  height: 50vh;
  .divider{
      @include divider-verde;
  }
}

.bulletpoint{
  color: map-get($map: $colores, $key: dark) !important;
}


// mantra
section{
  #mantra{
      padding: 8rem 0;
      margin-bottom: 1rem;
      background: linear-gradient(180deg, #5BD1CA 0%, rgba(91, 209, 202, 0) 190.65%);
      div{
          div{
              .divider{
                  @include divider-blanco;
              }
              #mantrasubtitle{
                  color: white;
              }
              .botondos{
                  @include boton-blanco;
                  }
              }
          }
      }
  }


// services
section{
  #services{
      padding: 4rem 0;
      .divider{
          @include divider-verde;
      }
   }
}

.serviceicon{
  color: map-get($colores, "claro") !important;;
}




// why chopsi
.why-us .why-box {
  padding: 30px;
  background: #22ccc3;
  color: #ffffff;
  border-radius: 1rem;
}

.why-us .why-box h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.why-us .why-box p {
  margin-bottom: 30px;
}

.why-us .why-box .more-btn {
  display: inline-block;
  background: #ffffff;
  padding: 6px 30px 8px 30px;
  color: #22ccc3;
  border-radius: 50px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  text-decoration: none;
}

.why-us .why-box .more-btn i {
  font-size: 14px;
}

.why-us .why-box .more-btn:hover {
  color: map-get($map: $colores, $key: blanco);
  background: map-get($map: $colores, $key: dark);
}

.why-us .icon-box {
  text-align: center;
  background: #fff;
  padding: 40px 30px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(55, 55, 63, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.why-us .icon-box i {
  color: map-get($map: $colores, $key: dark);
  margin-bottom: 30px;
  font-size: 32px;
  margin-bottom: 30px;
  background: map-get($map: $colores, $key: superclaro);;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 64px;
  height: 64px;
}

.why-us .icon-box h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 30px 0;
  font-family: var(--font-secondary);
}

.why-us .icon-box p {
  font-size: 15px;
  color: #6c757d;
}

@media (min-width: 1200px) {
  .why-us .icon-box:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}