/* ------Configuracion de texto y tamano -------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-size: 16px;
    font-family: 'Poppins';
}

/* ---------- RESET ----------*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/* ------------index -----------*/

/* navbar */

#header{
    z-index: 1100;
}

/* logo */
.navLogo{
    height: 5rem;
    width: 5rem;
    border-radius: 1000px;
    padding: 16px;
    margin-right: auto;
    cursor: pointer;
}

/* masthead  */

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%), url("../assets/media/bgboot.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 2.25rem;
  }

  #titledivider{
    color: #5BD1CA;
}

  #subtitle{
    color: rgb(208, 208, 208) !important;
  }

  .btn1 {
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #5BD1CA;
    border: 1px solid transparent;
    padding: 1rem 2.5rem;
    border-radius: 100rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

/* services */

hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #8EE5E0 !important;
    opacity: 1;
  }


div i{
    color: #5BD1CA !important;
}


.divider{
    color: #5BD1CA;
}


  /* mantra */

  #mantra{
    padding: 8rem 0;
    margin-bottom: 1rem;
    background: linear-gradient(180deg, #5BD1CA 0%, rgba(91, 209, 202, 0) 190.65%);
  }

  .btn2{
    font-weight: 500;
    color: #5BD1CA;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid transparent;
    padding: 1rem 2.5rem;
    border-radius: 100rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
#mantrasubtitle{
    color: white;
}



/* services */
#services{
    padding: 4rem 0;
}

/* projects */

#projects{
    height: 50vh;
}

/* footer */

footer{
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%), url("../assets/media/wave.svg"); */
    background-image: url("../assets/media/wave2.svg"); background-repeat: no-repeat;
}

li a i{
    color: white !important;
}


@media (max-width: 990px){
    .rounded-circle, .footericons, .footerlinks{
        display: none;
    }
    .btn2{
        margin-bottom: 0;
    }
    .icons{
        margin: 0;
        flex-direction: row;
    }
}

/* -------join the team------ */

.jointheteam {
    padding-top: 11rem;
    padding-bottom: calc(10rem - 4.5rem);
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
  }

  .submitbutton{
    font-weight: 500;
    color: #ffffff !important;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #5BD1CA !important;
    border: 1px solid transparent;
    padding: 1rem 2.5rem;
    border-radius: 100rem;
    border-color: transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .submitbutton:enabled {
    font-weight: 500;
    color: #ffffff !important;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #5BD1CA !important;
    border: 1px solid transparent;
    padding: 1rem 2.5rem;
    border-radius: 100rem;
    border-color: transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  }


/* our work */
.projects {
    padding-top: 11rem;
    padding-bottom: 0;
    background-attachment: scroll;
    background-size: cover;
    height: 50vh;
  }

/* services */
.services {
    padding-top: 11rem;
    margin-bottom: 11rem !important;
    background-attachment: scroll;
    background-size: cover;
    height: 50vh;
  }
